html, body {
	background-color: #f6f6f6;
	margin: 0 auto;
	font-family: monospace;
	font-size: 200%;
}

#title {
	font-size: 160%;
	margin-top: 20px;
}

#title small {
	font-size: 80%;
}

#article {
	margin: 0 20px;
}

.container-b {
	margin: 20px 0;
}

.container-header {
	margin: 5px 20px;
}

.container-image {
	margin: 5px 20px;
	width: 360px;
	background-color: #555;
}

.container-info {
	margin: 0 20px;
	width: 40%;
}

@media (orientation: portrait) { 
	.container-image {		
		width: 100%;
	}
	.container-info {
		width: 100%;
	}
}



.btn-group {
	margin-right: 10px;
}

.output {
	background-color: #555;
	color: #f6f6f6;
	margin-top: 20px;
	padding: 1em 1em 0 1em;
	border: solid 1px;
	border-radius: 6px;
}

footer {
	margin-top: 20px;
}

#mapid {
	height: 250px;
}